# Build output
/matchstick
/src/matchstick
/dist/
/web/ssg
/web/static/playground.js
/web/static/playground.wasm
nimcache/
nimblecache/

# Test binaries
tests/test_*
tests/integration/test_*
!tests/test_*.nim
!tests/integration/test_*.nim

# Coverage
coverage/

# OS
.DS_Store
~
nimble.develop
nimble.paths
nimbledeps
